[user]
	email = me@weastur.com
	name = Pavel Sapezhko
	signingkey = 73D422999BA70D80698CB746EB9BAC008E6D9B61
[branch]
	autosetuprebase = always
[push]
	default = simple
[core]
	editor = vim
    excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
	renameLimit = 1833
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    di = diff
    br = branch
    ci = commit
    st = status
    co = checkout
    ps = push
    ssave = stash save
    spop = stash pop
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg]
	program = gpg
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true

