set afterends
set autoindent
set boldtext
set constantshow
set historylog
set indicator
set linenumbers
set locking
set mouse
set multibuffer
set nohelp
set positionlog
set saveonexit
set smarthome
set suspendable
set trimblanks
