[user]
    email = pavel.sapezhko@easybrain.com
    name = Pavel Sapezhko
    signingkey = /Users/weastur/.ssh/id_ed25519
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg.ssh]
    allowedSignersFile = "/Users/weastur/.ssh/allowed_signers"
[tag]
    forceSignAnnotated = true
[branch]
    autosetuprebase = always
[push]
    default = simple
    autoSetupRemote = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
    renameLimit = 1833
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    di = diff
    br = branch
    ci = commit
    st = status
    co = checkout
    ps = push
    ssave = stash save
    spop = stash pop
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[remote "origin"]
    prune = true
[init]
    defaultBranch = main
[includeIf "gitdir:/Users/weastur/src/p/"]
    path = .gitconfig-personal
